<mat-card>
  <mat-card-content>
    <!-- <form [formGroup]="firstFormGroup">
      <div fxLayout="row wrap">
        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting Title</mat-label>
            <input matInput placeholder="Meeting Title" formControlName="MeetingTitle" required>
              <mat-error *ngIf="firtsForm.MeetingTitle.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting URL</mat-label>
            <input matInput placeholder="Meeting URL" formControlName="MeetingUrl" required>
            <mat-error *ngIf="firtsForm.MeetingUrl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting Id</mat-label>
            <input matInput placeholder="Meeting Id" formControlName="MeetingId">
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting UserId</mat-label>
            <input matInput placeholder="Meeting UserId" formControlName="MeetingUserId">
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting PassCode</mat-label>
            <input matInput placeholder="PassCode" formControlName="MeetingPassCode" [type]="hide ? 'password' : 'text'"
              autocomplete="off">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

         harshita   manisha

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting Date</mat-label>
            <input type="datetime-local" matInput placeholder="Meeting Date" id="MeetingdateInputID"
              formControlName="MeetingDateTime" required>
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Meeting DateTime</mat-label>
            <input type="datetime-local" matInput placeholder="Reminder DateTime" id="ReminderDateTimeInputID"
              formControlName="ReminderDateTime" required>
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label> Notes</mat-label>
            <textarea matInput rows="1" placeholder="Notes" formControlName="Notes"> </textarea>
          </mat-form-field>
        </div>

        <div class="p-l-10 p-r-10" fxFlex.gt-sm={{columnwidth30}} fxFlex.gt-xs={{columnwidth30}} fxFlex="100">
          <button mat-raised-button class="pull-right" color="warn" style="margin-left: 5px;"
            (click)="ResetMeeting()">Reset</button>
          <button mat-raised-button [disabled]="!firstFormGroup.valid" *ngIf="!updaterecord" class="pull-right"
            color="primary" (click)="CreateMeetingReminder()">Save</button>
          <button mat-raised-button [disabled]="!firstFormGroup.valid" *ngIf="updaterecord" class="pull-right"
            color="primary" (click)="UpdateMeetingReminder()">Update</button>
        </div>

      </div>
    </form> -->

    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row wrap">
         
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="25" fxFlex="75">
            <mat-form-field appearance="outline" style="margin-bottom: -0.75em;margin-top: -0.75em;">
              <mat-label>Search</mat-label>
              <input matInput (keyup)="common.TableFilter(meetinglist,$event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>

          <div fxFlex.gt-sm="75" fxFlex.gt-xs="75" fxFlex="25">
            <button mat-raised-button class="pull-right" style="margin-left: 5px;background-color: #48d640; color: white;"
            (click)="createUpdateMeeting(0,null)"><mat-icon>add</mat-icon> Create New</button>
          </div>

          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <div style="overflow: hidden;overflow-x: auto;">
              <table mat-table matSort [dataSource]="meetinglist" class="tablewidth">
                <!-- <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>#Id </th>
                          <td mat-cell *matCellDef="let element"> {{element.reminderId}} </td>
                      </ng-container> -->
                <ng-container matColumnDef="meetingtitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                  <td mat-cell *matCellDef="let element"> {{element.bdayHolderName}} </td>
                </ng-container>
                <ng-container matColumnDef="meetingdatetime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Meeting DateTime </th>
                  <td mat-cell *matCellDef="let element"> {{element.dobDate | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>
                <ng-container matColumnDef="reminderdatetime">
                  <th mat-header-cell *matHeaderCellDef>Reminder DateTime</th>
                  <td mat-cell *matCellDef="let element"> {{element.reminderDateTime | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>
                <ng-container matColumnDef="notes">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
                  <td mat-cell *matCellDef="let element"> <button mat-button color="primary"
                      (click)="showdetail(element)">Details</button>
                  </td>
                  <!-- <td mat-cell *matCellDef="let element"   (mouseover)="changeText=true" (mouseout)="changeText=false" > {{element.notes | limitto:10}} </td> -->
                </ng-container>
                <ng-container matColumnDef="createdate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.createDate | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>
                <ng-container matColumnDef="updateDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Update date </th>
                  <td mat-cell *matCellDef="let element"> {{element.updateDate | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                  <td>
                    <mat-slide-toggle *matCellDef="let element" [(ngModel)]="element.reminderStatus"
                      (click)="UpdatereminderrStatus(element)"></mat-slide-toggle>
                  </td>
                  <!-- <td mat-cell *matCellDef="let element"> {{element.status?'Active':'DeActive'}} </td> -->
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <div class="row" style="display: inline-flex;">
                      <div class="col-6">
                        <a>
                          <mat-icon style="color: grey;" (click)="createUpdateMeeting(1,element)">edit
                          </mat-icon>
                        </a>
                      </div>
                      <div class="col-6">
                        <a class="m-l-10">
                          <mat-icon style="color:#E91E63" (click)="DeleteMeetingRecord(element)">delete</mat-icon>
                        </a>
                      </div>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20,30,50,100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

    <!-- <div fxLayout="row wrap">
        <div *ngIf="firstFormGroup.value.usertype > 2" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="50" fxFlex="100">
          <button mat-raised-button [disabled]="!firstFormGroup.valid" class="pull-right" color="primary"
            (click)="CreateUser()">Submit</button>
        </div>
     <div *ngIf="firstFormGroup.value.usertype < 3" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <button mat-raised-button color="warn" class="pull-right" matStepperNext>Next</button>
        </div>
      </div> -->
  </mat-card-content>
</mat-card>