<div mat-dialog-content>
    <h6 text-center>Enter New Password</h6>
    <mat-form-field>
        <input matInput placeholder="Enter New Password" [(ngModel)]="lists.password" type="password">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="lists.confirmpassword" type="password" placeholder="Confirm Password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClick()">Change Password</button>
    <button mat-button (click)="close()">Cancel</button>
</div>