<mat-card>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Create Branch">
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <div fxLayout="row wrap">
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-l-10">
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <mat-select [(ngModel)]="lists.name">
                                        <mat-option *ngFor="let u of lists.Citylist" [value]="u.name">
                                            {{u.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="p-l-10">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="lists.address" placeholder="Address">
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-right">
                                <button mat-raised-button color="primary" [disabled]="!lists.name || !lists.address" (click)="AddBranch()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Branch List">
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <div fxLayout="row wrap">
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <mat-form-field>
                                    <mat-label>Select Admin</mat-label>
                                    <mat-select [(ngModel)]="lists.admin">
                                        <mat-option *ngFor="let u of lists.adminlist" [value]="u.id">
                                            {{u.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-right m-b-10">
                                <button mat-raised-button color="primary" (click)="GetBranchList()">View
                                    Branch List</button>
                            </div>
                            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                                <mat-form-field>
                                    <input matInput (keyup)="common.TableFilter(lists.branchlist,$event.target.value)" placeholder="Search">
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <table mat-table matSort [dataSource]="lists.branchlist">
                                    <!-- <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let element" class="action-link">
                                            <a>
                                                <mat-icon>edit</mat-icon>
                                            </a>
                                            <a>
                                                <mat-icon>delete</mat-icon>
                                            </a>
                                        </td>
                                    </ng-container> -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="admin">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.admin}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20,25,50]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>