<button (click)="closeModal()">Close</button>


<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <div fxLayout="row wrap">
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label><b>Company Name</b></mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label><b>Company Name</b></mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label><b>Company Name</b></mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label><b>Company Name</b></mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label>Company Name</mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label>Company Name</mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label>Company Name</mat-label>
        <p>test 123</p>
      </div>
      <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
        <mat-label>Company Name</mat-label>
        <p>test 123</p>
      </div>

    </div>
  </div>
</div>

