
 <div mat-dialog-title>
  <div fxLayout="row wrap">
      <h4><b>Reminder Detail</b></h4>
  </div>
</div>
<mat-dialog-content class="mat-typography">
  <div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <div fxLayout="row wrap">
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Insurance Type</mat-label>
            <input matInput placeholder="Insurance Type" value={{list.reminderType}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Policy Holder Name</mat-label>
            <input matInput placeholder="Policy Holder Name" value={{list.bdayHolderName}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Policy Number</mat-label>
            <input matInput placeholder="Policy Number" value={{list.policyNumber}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Details</mat-label>
            <input matInput placeholder="Details" value={{list.planDescption}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" value={{list.companyName}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Sum Insured</mat-label>
            <input matInput placeholder="Sum Insured" value={{list.sumInsuredAssured}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Premium Amount</mat-label>
            <input matInput placeholder="Premium Amount" value={{list.premiumAmt}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Payment Cycle Type</mat-label>
            <input matInput placeholder="Payment Cycle Type" value={{list.paymentCycle}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Policy Term Year</mat-label>
            <input matInput placeholder="Policy Term Year" value={{list.policyTermYear}} v>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Policy Start Date</mat-label>
            <input matInput placeholder="Policy Start Date" value={{list.startDate}} readonly>
            <!-- <input matInput placeholder="Policy Start Date" value={{list.startDate | date:"MM/dd/yyyy"}}> -->
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Payment Due Date</mat-label>
            <input matInput placeholder="Payment Due Date" value={{list.paymentDueDate}} readonly>
            <!-- <input matInput placeholder="Payment Due Date" value={{list.paymentDueDate | date:"MM/dd/yyyy"}}> -->
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Maturity Date</mat-label>
            <input matInput placeholder="Maturity Date" value={{list.maturityDate}} readonly>
            <!-- <input matInput placeholder="Maturity Date" value={{list.maturityDate | date:"MM/dd/yyyy"}}> -->
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Reminder DateTime</mat-label>
            <input matInput placeholder="Reminder DateTime" value={{list.reminderDateTime}} readonly>
            <!-- <input matInput placeholder="Reminder DateTime" value={{list.reminderDateTime | date:"MM/dd/yyyy HH:mma"}}> -->
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <input matInput placeholder="Notes" value={{list.notes}} readonly>
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Create Date</mat-label>
            <input matInput placeholder="Create Date" value={{list.createDate}} readonly>
            <!-- <input matInput placeholder="Create Date" value={{list.createDate | date:"MM/dd/yyyy HH:mma"}}> -->
          </mat-form-field>
        </div>
        <div class="p-l-5 p-r-5" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>Update Date</mat-label>
            <input matInput placeholder="Update Date" value={{list.updateDate}} readonly>
            <!-- <input matInput placeholder="Update Date" value={{list.updateDate | date:"MM/dd/yyyy HH:mma"}}> -->
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
  <button mat-raised-button color="warn" (click)="closeModal()">Close</button>
</mat-dialog-actions>
