<mat-card>
    <mat-card-content>
        <!--start stepper-->
        <div fxLayout="row wrap m-l-0 m-r-0">
            <div fxFlex.gt-sm="100%" fxFlex="100" class="m-0 p-0">
              <mat-card-content>
                    <form [formGroup]="firstFormGroup" >
                      <div fxLayout="row wrap">
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input matInput placeholder="FirstName" formControlName="firstname" required autocomplete="off">
                          </mat-form-field>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.firstname.touched && (firtsForm.firstname.errors?.minlength || firtsForm.firstname.errors?.maxlength)">
                            First Name should be of Min. 3 characters, Max. 20 characters.</p>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.firstname.touched && firtsForm.firstname.errors?.pattern">
                            First Name contains only characters.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input matInput placeholder="Last Name" formControlName="lastname" required autocomplete="off">
                          </mat-form-field>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.lastname.touched && (firtsForm.lastname.errors?.minlength || firtsForm.lastname.errors?.maxlength)">
                            Last Name should be of Min. 3 characters, Max. 20 characters.</p>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.lastname.touched && firtsForm.lastname.errors?.pattern">
                            Last Name contains only characters.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input type="date" matInput placeholder="Date of Birth" formControlName="dob" required autocomplete="off">
                          </mat-form-field>
                          <!-- <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.lastname.touched && firtsForm.lastname.errors?.pattern">
                            User Name already exist..</p> -->
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input matInput placeholder="User Name" formControlName="username1"  value="" (change)="checkUserName()" required autocomplete="off">
                          </mat-form-field>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.username1.touched && (firtsForm.username1.errors?.minlength || firtsForm.username1.errors?.maxlength)">
                            User Name should be of Min. 3 characters, Max. 20 characters.</p>
                          <p class="text-danger m-t-0 font-16"
                          *ngIf="useralredyexist">
                            User Name already exist..</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <span matPrefix>+91 &nbsp;</span>
                            <input type="tel" matInput placeholder="Mobile Number" formControlName="mnumber" required autocomplete="off">
                          </mat-form-field>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.mnumber.touched && firtsForm.mnumber.hasError('required')">
                            Mobile Number Cannot be blank.
                          </p>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.mnumber.touched && (firtsForm.mnumber.errors?.minlength || firtsForm.mnumber.errors?.maxlength)">
                            Mobile Number Should be of atleast 10 digit.
                          </p>
                          <p class="text-danger m-t-0 font-16"
                            *ngIf="firtsForm.mnumber.touched &&(firtsForm.mnumber.errors?.pattern)">
                            Use Digits Only.
                          </p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input matInput placeholder="Email" formControlName="email" required autocomplete="off">
                          </mat-form-field>
                          <p *ngIf="firtsForm.email.hasError('pattern') && firtsForm.email.touched"
                            class="text-danger m-t-0 font-16">Please Enter Valid Email.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input matInput placeholder="Enter your password" formControlName="password1"
                              [type]="hide ? 'password' : 'text'" autocomplete="off">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                          <p class="text-danger m-t-0 font-12"
                            *ngIf="firtsForm.password1.touched && (firtsForm.password1.errors?.required||firtsForm.password1.errors?.minlength||firtsForm.password1.errors?.maxlength||firtsForm.password1.errors?.pattern)">
                            Password should be of Min. 8 characters,Max. 30 characters, which must contain at least
                            one Special character, one Capital letter, one Small letter and one Numeric value.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
                          <mat-form-field>
                            <input matInput placeholder="Confirm your password" [type]="hide1 ? 'password' : 'text'"
                              formControlName="confirmPassword" autocomplete="off">
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="hide1">
                              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                          <p *ngIf="firtsForm.confirmPassword.errors?.equalTo && firtsForm.confirmPassword.touched"
                            class="text-danger m-t-0 font-16">Passwords do not math.</p>
                        </div>
                      </div>
                      <div>
                        <button mat-raised-button color="primary" (click)="onSubmit()" class="pull-right"
                          [disabled]="!firstFormGroup.valid">submit</button>
                      </div>
                      <!-- <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="100" class="text-right" fxFlex.gt-xs="1-0" fxFlex="100">
                          <button mat-raised-button class="pull-right" color="warn" matStepperNext>Next</button>
                        </div>
                      </div> -->
                    </form>
              </mat-card-content>
            </div>
          </div>
    </mat-card-content>
</mat-card>
