<mat-card>
    <mat-card-content>
        <!--start stepper-->
        <mat-horizontal-stepper linear #stepper>
            <!-- <mat-step [stepControl]="firstFormGroup"> -->
            <mat-step>
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Basic Info</ng-template>
                    <div fxLayout="row wrap">

                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="FirstName" formControlName="firstname" required>
                            </mat-form-field>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.firstname.touched && (firtsForm.firstname.errors?.minlength || firtsForm.firstname.errors?.maxlength)">
                                First Name should be of Min. 3 characters, Max. 20 characters.</p>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.firstname.touched && firtsForm.firstname.errors?.pattern">
                                First Name contains only characters.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Last Name" formControlName="lastname" required>
                            </mat-form-field>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.lastname.touched && (firtsForm.lastname.errors?.minlength || firtsForm.lastname.errors?.maxlength)">
                                Last Name should be of Min. 3 characters, Max. 20 characters.</p>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.lastname.touched && firtsForm.lastname.errors?.pattern">
                                Last Name contains only characters.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-label>User Type</mat-label>
                                <mat-select formControlName="usertype" >
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let a of usertypearray" [value]="a.id" required>
                                        {{a.name}}
                                    </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <span matPrefix>+91 &nbsp;</span>
                                <input type="tel" matInput placeholder="Mobile Number" formControlName="mobnumber"
                                    required>
                            </mat-form-field>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.mobnumber.touched && firtsForm.mobnumber.hasError('required')">
                                Mobile Number Cannot be blank.
                            </p>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.mobnumber.touched && (firtsForm.mobnumber.errors?.minlength || firtsForm.mobnumber.errors?.maxlength)">
                                Mobile Number Should be of atleast 10 digit.
                            </p>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.mobnumber.touched &&(firtsForm.mobnumber.errors?.pattern)">
                                Use Digits Only.
                            </p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Email" formControlName="email" required>
                            </mat-form-field>
                            <p *ngIf="firtsForm.email.hasError('pattern') && firtsForm.email.touched"
                                class="text-danger m-t-0 font-16">Please Enter Valid Email.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Enter your password" formControlName="password"
                                    [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="firtsForm.password.touched && (firtsForm.password.errors?.required||firtsForm.password.errors?.minlength||firtsForm.password.errors?.maxlength||firtsForm.password.errors?.pattern)">
                                Password should be of Min. 8 characters,Max. 30 characters, which must contain at least
                                one Special
                                character, one Capital letter, one Small letter and one Numeric value.</p>
                        </div>
                        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Confirm your password" [type]="hide1 ? 'password' : 'text'"
                                    formControlName="confirmPassword">
                                <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <p *ngIf="firtsForm.confirmPassword.errors?.equalTo && firtsForm.confirmPassword.touched"
                                class="text-danger m-t-0 font-16">Passwords do not math.</p>
                        </div>
                    </div>
                </form>
                <div fxLayout="row wrap">
                    <div *ngIf="firstFormGroup.value.usertype > 2" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="50" fxFlex="100">
                        <button mat-raised-button  [disabled]="!firstFormGroup.valid" class="pull-right" color="primary" (click)="CreateUser()"
                        >Submit</button>
                    </div>
                    <div *ngIf="firstFormGroup.value.usertype < 3" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <button mat-raised-button color="warn" class="pull-right" matStepperNext>Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value.usertype < 3" [optional]="isOptional">
                <!-- <mat-step *ngIf="!usertype" [stepControl]="secondFormGroup" [optional]="isOptional"> -->
                <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <label><b>Permanent Address</b></label>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <textarea matInput placeholder="Address" formControlName="perAddress"
                                    required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select State" (selectionChange)="GetCity()"
                                    formControlName="perState" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let state of statearray" [value]="state.id">{{state.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select City" formControlName="perCity" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let city of cityarray" [value]="city.id">{{city.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Pincode" formControlName="perPincode"
                                    required>
                            </mat-form-field>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="secondForm.perPincode.touched && (secondForm.perPincode.errors?.maxLength || secondForm.perPincode.errors?.min || secondForm.perPincode.errors?.max)">
                                Pincode code Contains only 6 digits.</p>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <label><b>Correspondance Address</b></label>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <section>
                                <mat-checkbox (change)="AddressCopy($event)">Same as Permanent</mat-checkbox>
                            </section>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <textarea matInput placeholder="Address" formControlName="corresAddress"
                                    required></textarea>
                            </mat-form-field>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select State" (selectionChange)="GetCityCors()"
                                    formControlName="corresState" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let state of statearray" [value]="state.id">{{state.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <mat-select placeholder="Select City" formControlName="corresCity" required>
                                  <mat-option>--</mat-option>
                                  <mat-option *ngFor="let city of cityarraycors" [value]="city.id">{{city.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="p-l-10 p-r-10" fxFlex.gt-sm="33.33" fxFlex.gt-xs="33.33" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="number" placeholder="Pincode" formControlName="corresPincode"
                                    required>
                            </mat-form-field>
                            <p class="text-danger m-t-0 font-16"
                                *ngIf="secondForm.corresPincode.touched && (secondForm.corresPincode.errors?.maxLength || secondForm.corresPincode.errors?.min || secondForm.corresPincode.errors?.max)">
                                Pincode code Contains only 6 digits.</p>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button class="pull-right" color="warn" (click)="checkaccountnolength();"
                            matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value.usertype < 3" [optional]="isOptional">
                <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Bank Information</ng-template>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="50" class="p-r-10" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput formControlName="bankname" placeholder="Bank Name" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50" class="p-r-10" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="number" formControlName="accountno" placeholder="Account No"
                                    required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50" class="p-r-10" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <mat-label>Account Type</mat-label>
                                <mat-select formControlName="accttype">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let a of AcctTypelist" [value]="a.name" required>
                                        {{a.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50" class="p-r-10" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput formControlName="ifsccode" placeholder="IFSC Code" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="m-0 p-b-10">
                        <div fxFlex.gt-sm="70" class="p-r-10" fxFlex.gt-xs="100" fxFlex="100">
                        </div>
                        <div fxFlex.gt-sm="30" class="p-r-10 text-right" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="primary" type="submit" *ngIf="checkactivityaddupdatebtn"
                                [disabled]="!thirdFormGroup.valid" (click)="Addbankdetail()">Add Account</button>
                            <button mat-raised-button color="primary" type="submit" *ngIf="!checkactivityaddupdatebtn"
                                [disabled]="!thirdFormGroup.valid" (click)="Updatebankdetail()">Update Account</button>
                            <button mat-raised-button class="m-l-10" (click)="resetbanktab()">Clear</button>
                        </div>
                    </div>
                </form>
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                    </div>
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <table mat-table matSort [dataSource]="lists.bankdetailList">
                            <ng-container matColumnDef="BankName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.bankname}} </td>
                            </ng-container>
                            <ng-container matColumnDef="AccountNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.accountno}} </td>
                            </ng-container>
                            <ng-container matColumnDef="IFSCCode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> IFSC Code </th>
                                <td mat-cell *matCellDef="let element"> {{element.ifsccode}} </td>
                            </ng-container>
                            <ng-container matColumnDef="AccountType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.accttype}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-link">
                                    <a>
                                        <mat-icon style="color:black" (click)="BankdetailEdit(element)"><i
                                                class="fa fa-pencil"></i>
                                        </mat-icon>
                                    </a>
                                    <mat-icon class="m-l-10" style="color:#E91E63" (click)="Deletebankrecord(element)">
                                        <i class="fa fa-trash"></i>
                                    </mat-icon>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20,25,50]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
                <div class="p-10">
                    <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                    <button mat-raised-button class="pull-right" [disabled]="!checkaccountlistlenfth" color="warn"
                        matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step *ngIf="firstFormGroup.value.usertype < 3" [optional]="isOptional">
                <!-- <mat-step *ngIf="firstFormGroup.value.usertype < 3" [stepControl]="fourthFormGroup" [optional]="isOptional"> -->
                <form [formGroup]="fourthFormGroup">
                    <ng-template matStepLabel>KYC Information</ng-template>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="33.33" *ngFor="let d of lists.Doctype" class="p-r-10" fxFlex.gt-xs="100"
                            fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="{{d.docname}}" [ngModelOptions]="{standalone: true}"
                                    [disabled]="d.doctype=='0'" [(ngModel)]="d.value">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="33.33" *ngFor="let d of lists.Doctype;let i=index" class="p-r-10 text-center"
                            fxFlex.gt-xs="100" fxFlex="100">
                            <img style="width:250px;" src="{{d.image?d.image:'./assets/images/noimage.png'}}" />
                            <input type="file" (change)="onFileChange($event,i)" />
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button class="pull-right" color="warn" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <!-- <mat-step *ngIf="firstFormGroup.value.usertype < 3" [stepControl]="fifthFormGroup" [optional]="isOptional"> -->
            <mat-step *ngIf="firstFormGroup.value.usertype < 3" [optional]="isOptional">
                <form [formGroup]="fifthFormGroup">
                    <ng-template matStepLabel>Subscription</ng-template>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="100" class="m-t-20 m-b-20" fxFlex.gt-xs="100" fxFlex="100">
                            <label [ngStyle]="{'color':plantypeval == true ? 'black' : 'Red' }">Subscription
                                Plan</label>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-radio-group formControlName="Subscriptionplan">
                                <div *ngFor="let Plan of SubPlans">
                                    <mat-radio-button class="m-l-20 m-t-5" value="{{Plan.id}}">
                                        {{Plan.subscription_name}}<span>
                                            (Validity: {{ Plan.validity | monthtoyear}})</span> </mat-radio-button><br>
                                    <p class="font-16 m-l-20  m-t-5">{{!Plan.detailview?(Plan.description |
                                        limitto:100):Plan.description }}<a *ngIf="Plan.description.length > 100"
                                            style="margin-left: -15px;" mat-button color="primary"
                                            (click)='Plan.detailview=!Plan.detailview'>{{!Plan.detailview?'Read
                                            More':'Hide
                                            More'}}</a></p>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                        <button mat-raised-button class="pull-right" color="primary" (click)="CreateUser()"
                            [disabled]="!fifthFormGroup.valid">Submit</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>
