<mat-card>
  <mat-card-content style="padding-top: 0;">
    <div fxLayout="row wrap">
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="50" fxFlex="100">
        <button mat-raised-button class="pull-right" color="warn" style="margin-left: 5px;"
          (click)="ResetReminder()">Reset</button>
        <button mat-raised-button [disabled]="!firstFormGroup.valid" class="pull-right" color="primary"
          (click)="CreateReminder()">Save</button>
        <button mat-raised-button [disabled]="!firstFormGroup.valid" class="pull-right" color="primary"
          (click)="UpdatepolicyReminderReminder()">Update</button>
      </div>
    </div>
    <form [formGroup]="firstFormGroup">
      <div fxLayout="row wrap">
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <mat-label>Insurance Type</mat-label>
            <mat-select formControlName="InsuranceType">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let a of common.InsuranceType" [value]="a.id" required>
                {{a.insType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.InsuranceType.touched && firtsForm.InsuranceType.errors?.pattern">
            Please Select Insurance Type.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Policy Holder Name" formControlName="PolicyHolder" required>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PolicyHolder.touched && (firtsForm.PolicyHolder.errors?.minlength || firtsForm.PolicyHolder.errors?.maxlength)">
            Policy Holder Name should be of Min. 3 characters, Max. 20 characters.</p>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PolicyHolder.touched && firtsForm.PolicyHolder.errors?.pattern">
            Policy Holder Name contains only characters.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="number" matInput placeholder="Policy Number" formControlName="PolicyNumber" required>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PolicyNumber.touched && (firtsForm.PolicyNumber.errors?.minlength || firtsForm.PolicyNumber.errors?.maxlength)">
            Policy Number should be of Min. 3 characters, Max. 20 characters.</p>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PolicyNumber.touched && firtsForm.PolicyNumber.errors?.pattern">
            Policy Number contains only characters.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Plan, Vehicle No, NCB, Nominee, etc."
              title="Plan, Vehicle No, NCB, Nominee etc." formControlName="PlanDescption" required>
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Company Name" formControlName="CompanyName" required>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.CompanyName.touched && (firtsForm.CompanyName.errors?.minlength || firtsForm.CompanyName.errors?.maxlength)">
            Company Name should be of Min. 3 characters, Max. 20 characters.</p>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.CompanyName.touched && firtsForm.CompanyName.errors?.pattern">
            Company Name contains only characters.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="number" matInput placeholder="Sum Insured/Assured" formControlName="SumInsuredAssured"
              required>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.SumInsuredAssured.touched && firtsForm.SumInsuredAssured.hasError('required')">
            Sum Insured/Assured Cannot be blank.
          </p>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.SumInsuredAssured.touched &&(firtsForm.SumInsuredAssured.errors?.pattern)">
            Use Digits Only.
          </p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="number" matInput placeholder="Premium Amount" formControlName="PremiumAmt" required>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PremiumAmt.touched && firtsForm.PremiumAmt.hasError('required')">
            Premium Amount Cannot be blank.
          </p>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PremiumAmt.touched &&(firtsForm.PremiumAmt.errors?.pattern)">
            Use Digits Only.
          </p>
        </div>

        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <mat-label>Payment Cycle Type</mat-label>
            <mat-select formControlName="PaymentCycle">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let a of common.PaymentCycle" [value]="a.val" required>
                {{a.payCycName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PaymentCycle.touched && firtsForm.PaymentCycle.errors?.pattern">
            Please Select Payment Cycle Type.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="number" matInput placeholder="Policy Term Year" formControlName="PolicyTermYear" required>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PolicyTermYear.touched && firtsForm.PolicyTermYear.hasError('required')">
            Policy Term Year Cannot be blank.
          </p>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.PolicyTermYear.touched &&(firtsForm.PolicyTermYear.errors?.pattern)">
            Use Digits Only.
          </p>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="date" matInput placeholder="Commencement/Start Date" formControlName="CommencementDate"
              required>
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="date" matInput placeholder="Payment Due Date" formControlName="PaymentDueDate" required>
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="date" matInput placeholder="Maturity Date" formControlName="MaturityDate" required>
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input type="datetime-local" matInput placeholder="Reminder DateTime" id="ReminderDateTimeInputID" formControlName="ReminderDateTime" required>
          </mat-form-field>
        </div>
        <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <textarea rows="1" matInput placeholder="Notes" formControlName="Notes"> </textarea>
          </mat-form-field>
        </div>


        <!-- <div class="p-10" fxFlex.gt-sm={{columwidth}} fxFlex.gt-xs={{columwidth}} fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required>
          </mat-form-field>
          <p *ngIf="firtsForm.email.hasError('pattern') && firtsForm.email.touched" class="text-danger m-t-0 font-16">
            Please Enter Valid Email.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password"
              [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <p class="text-danger m-t-0 font-16"
            *ngIf="firtsForm.password.touched && (firtsForm.password.errors?.required||firtsForm.password.errors?.minlength||firtsForm.password.errors?.maxlength||firtsForm.password.errors?.pattern)">
            Password should be of Min. 8 characters,Max. 30 characters, which must contain at least
            one Special
            character, one Capital letter, one Small letter and one Numeric value.</p>
        </div>
        <div class="p-10" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
          <mat-form-field>
            <input matInput placeholder="Confirm your password" [type]="hide1 ? 'password' : 'text'"
              formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <p *ngIf="firtsForm.confirmPassword.errors?.equalTo && firtsForm.confirmPassword.touched"
            class="text-danger m-t-0 font-16">Passwords do not math.</p>
        </div> -->
      </div>
    </form>

    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
              <input matInput (keyup)="common.TableFilter(ReminderTablelist,$event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <div style="overflow: hidden;overflow-x: auto;">
              <table mat-table matSort [dataSource]="ReminderTablelist">
                <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>#Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="InsuranceType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Insu. Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.insuranceType}} </td>
                </ng-container>
                <ng-container matColumnDef="PolicyHolder">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Holder</th>
                  <td mat-cell *matCellDef="let element"> {{element.policyHolder}} </td>
                </ng-container>
                <ng-container matColumnDef="PolicyNumber">
                  <th mat-header-cell *matHeaderCellDef>Policy Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.policyNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="PlanDescption">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Plan Descption </th>
                  <td mat-cell *matCellDef="let element"> {{element.planDescption}} </td>
                </ng-container>
                <ng-container matColumnDef="CompanyName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>
                <ng-container matColumnDef="SumInsuredAssured">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Sum Insured/Assured </th>
                  <td mat-cell *matCellDef="let element"> {{element.sumInsuredAssured}} </td>
                </ng-container>
                <ng-container matColumnDef="PremiumAmt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Premium Amt</th>
                  <td mat-cell *matCellDef="let element"> {{element.premiumAmt}} </td>
                </ng-container>
                <ng-container matColumnDef="PaymentCycle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Cycle</th>
                  <td mat-cell *matCellDef="let element"> {{element.paymentCycle}} </td>
                </ng-container>
                <ng-container matColumnDef="PolicyTermYear">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Policy Term Year </th>
                  <td mat-cell *matCellDef="let element"> {{element.policyTermYear}} </td>
                </ng-container>

                <ng-container matColumnDef="CommencementDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.commencementDate}} </td>
                </ng-container>
                <ng-container matColumnDef="PaymentDueDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment DueDate</th>
                  <td mat-cell *matCellDef="let element"> {{element.paymentDueDate}} </td>
                </ng-container>
                <ng-container matColumnDef="MaturityDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Maturity Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.maturityDate}} </td>
                </ng-container>
                <ng-container matColumnDef="ReminderDateTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Reminder DateTime </th>
                  <td mat-cell *matCellDef="let element"> {{element.reminderDateTime | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>
                <ng-container matColumnDef="Notes">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                </ng-container>
                <ng-container matColumnDef="CreateDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.createDate | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>
                <ng-container matColumnDef="UpdateDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Update date </th>
                  <td mat-cell *matCellDef="let element"> {{element.updateDate | date:"MM/dd/yyyy HH:mma"}} </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                  <td>
                    <mat-slide-toggle *matCellDef="let element" [(ngModel)]="element.status"
                      (click)="UpdateCreatereminderrStatus(element)"></mat-slide-toggle>
                  </td>
                  <!-- <td mat-cell *matCellDef="let element"> {{element.status?'Active':'DeActive'}} </td> -->
                </ng-container>
                <ng-container matColumnDef="Action">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element" class="action-link">
                    <a>
                      <mat-icon style="color:#E91E63" (click)="EditpolicyReminderRecord(element)">edit
                      </mat-icon>
                    </a>
                    <a class="m-l-10">
                      <mat-icon style="color:#E91E63" (click)="DeletepolicyReminderRecord(element)">delete</mat-icon>
                    </a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20,30,50,100]" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>

    <!-- <div fxLayout="row wrap">
      <div *ngIf="firstFormGroup.value.usertype > 2" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="50" fxFlex="100">
        <button mat-raised-button [disabled]="!firstFormGroup.valid" class="pull-right" color="primary"
          (click)="CreateUser()">Submit</button>
      </div>
   <div *ngIf="firstFormGroup.value.usertype < 3" class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <button mat-raised-button color="warn" class="pull-right" matStepperNext>Next</button>
      </div>
    </div> -->
  </mat-card-content>
</mat-card>