<div class="login-register" style="background-image:url(assets/images/background/login-registero.jpg);">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img style="height: 100px !important;" alt="homepage" src="assets/images/reminderinfologo.png">
                    </div>
                    <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Mobile Number / Email" type="text"
                                    [formControl]="form.controls['mobile_email']">
                            </mat-form-field>
                            <small
                                *ngIf="form.controls['mobile_email'].hasError('required') && form.controls['mobile_email'].touched"
                                class="text-danger support-text">Mobile No. / Email is required.</small>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"
                                    [formControl]="form.controls['password']">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <small
                                *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                class="text-danger support-text">Password is required.</small>
                        </div>
                        <!-- <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                            <mat-checkbox color="warn">Remember me</mat-checkbox>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                            <a [routerLink]="['/authentication/forgot']" class="link">Forgot Password?</a>
                        </div> -->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20"
                                type="submit" [disabled]="!form.valid">Login</button>
                        </div>
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                            <span>Don't have an account?
                                <a [routerLink]="['/authentication/register']" class="text-info link pull-left">Register</a>
                                <!-- <a [routerLink]="['../../aucation/upcoming']" class="text-info link pull-right">Skip</a> -->
                            </span>
                        </div>
                    </div>
                </form>
                <div style="font-size: 14px;margin-top: 10px;">
                    <!-- <a href="https://easybillpay.co.in">2020 EasyBillPay</a> &copy;  -->
                    Powered by <a href="http://www.google.com/">DGTech</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
