<mat-card>
    <mat-card-content>
        <form [formGroup]="taxmasterform" (ngSubmit)="onSubmit()">
        <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                    <div fxFlex.gt-sm="90" fxFlex.gt-xs="100" fxFlex="100">
                        
                            <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <input matInput placeholder="Tax Name " type="textarea" formControlName="TaxName" required>
                                </mat-form-field>
                                <p class="text-danger m-t-0 font-16"
                                *ngIf="taxForm.TaxName.touched && taxForm.TaxName.errors?.pattern">
                                Tax Name contains only characters.</p>
                            </div>

                            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <input matInput placeholder="Tax Value % " type="number" formControlName="TaxValue" required>
                                </mat-form-field>
                                <p class="text-danger m-t-0 font-16"
                                *ngIf="taxForm.TaxValue.touched && (taxForm.TaxValue.errors?.maxLength || taxForm.TaxValue.errors?.min || taxForm.TaxValue.errors?.max)">
                                Tax Value % contains only 2 digits (01-99).</p>
                            </div>
                           
                            <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                                <mat-form-field>
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="Status" placeholder="Select Status" required>
                                        <mat-option [value]="'Active'">Active </mat-option>
                                        <mat-option [value]="'DeActive'">DeActive  </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                          </div>
                          <div fxLayout="row wrap" fxFlexAlign="center" class="p-10">
                            <div fxFlex.gt-sm="10" fxFlex.gt-xs="100" fxFlex="100" class="text-right">
                                <button mat-raised-button color="primary" type="submit" (click)="CreateTaxMaster()" [disabled]="!taxmasterform.valid">Save</button>
                            </div>
        
                        </div>
                </div>
                </form>
        
                <div fxLayout="row wrap">
                        <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                                <mat-form-field>
                                    <input matInput placeholder="Search">
                                </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <table mat-table matSort [dataSource]="lists.taxlist">
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TAX name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="value">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TAX value % </th>
                                        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                                    </ng-container>
                                    
                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element"> {{element.status?'Active':'DeActive'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20,25,50]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
      
                    </mat-card-content>
</mat-card>
