<mat-card>
    <mat-card-content>
        <form [formGroup]="kycnasterform" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap" fxFlexAlign="center" class="row">

                <div fxFlex.gt-sm="80" fxFlex.gt-xs="100" fxFlex="100">

                    <div fxFlex.gt-sm="50" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <input matInput placeholder="Document Name" type="textarea" formControlName="DocumentName" required>
                        </mat-form-field>
                        <p class="text-danger m-t-0 font-16" *ngIf="kycForm.DocumentName.touched && kycForm.DocumentName.errors?.pattern">
                            Document Name contains only characters.</p>
                    </div>
                    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <mat-label>Document Type</mat-label>
                            <mat-select placeholder="Select Document Type" formControlName="DocumentType" required>
                                <!-- <mat-option value="0">Image along with Id </mat-option> -->
                                <mat-option value="0">Image </mat-option>
                                <mat-option value="1">Id </mat-option>
                                <mat-option value="2">Image & Id </mat-option>
                            </mat-select>
                        </mat-form-field>   
                    </div>
                    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <mat-label>Document Form</mat-label>
                            <mat-select placeholder="Select Document Form" formControlName="DocumentForm" required>
                                <mat-option value="0">Registration </mat-option>
                                <mat-option value="1">Profile </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select placeholder="Select Status" formControlName="Status" required>
                                <mat-option value="1">Active </mat-option>
                                <mat-option value="0">DeActive </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                    <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="text-center m-t-30">
                        <button class="m-r-20" *ngIf="updateid == 0" mat-raised-button color="primary" (click)="CreateKyc()" [disabled]="!kycnasterform.valid">Save</button>
                        <button class="m-r-20" *ngIf="updateid > 0" mat-raised-button color="primary" (click)="UpdateKycMaster()" [disabled]="!kycnasterform.valid">Update</button>
                        <button mat-raised-button color="default" (click)="resetKycform()">Clear</button>
                    </div>

            </div>
        </form>

        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <table mat-table matSort [dataSource]="lists.kyclist">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.doc_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.doc_type?'Id':'Image'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Form">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Document Form</th>
                        <td mat-cell *matCellDef="let element"> {{element.form_id?'Profile':'Registration'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Document status</th>
                        <td mat-cell *matCellDef="let element"> {{element.status?'Active':'DeActive'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <a>
                                <mat-icon style="color:black" (click)="EditKycMaster(element)"><i
                                        class="fa fa-pencil"></i>
                                </mat-icon>
                            </a>
                            <mat-icon class="m-l-10" style="color:#E91E63" (click)=" DeleteConfirmation(element)"><i
                                    class="fa fa-trash"></i>
                            </mat-icon>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20,25,50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </mat-card-content>
</mat-card>