
.mat-column-fstname {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-lstname {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-Uemail {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-Usrusername {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-Umobile {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-UlastLogin {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-Usrupdatedate {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.mat-column-Ustatus {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}

.tablewidth {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .tablewidth {
        width: max-content;
    }
  }