<mat-card fxFlex.gt-sm="100%" fxFlex="100" class="m-0">
    <mat-card-content >
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-form-field>
                            <input matInput (keyup)="common.TableFilter(newUserlist,$event.target.value)"
                                placeholder="Search">
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <table mat-table matSort [dataSource]="newUserlist">
                            <ng-container matColumnDef="fullname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="username">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mobile">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                            </ng-container>                            
                           
                            
                            
                            <ng-container matColumnDef="crated_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Crated Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.crated_at | date:"MM/dd/yyyy HH:mma"}} </td>
                            </ng-container>
                            <ng-container matColumnDef="last_login_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Login</th>
                                <td mat-cell *matCellDef="let element"> {{element.last_login_at | date:"MM/dd/yyyy HH:mma"}} </td>
                            </ng-container>
                            <ng-container matColumnDef="updatedAt">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:"MM/dd/yyyy HH:mma"}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <td mat-cell *matCellDef="let element"> {{element.status?'Active':'DeActive'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-link">
                                    <a>
                                        <mat-icon style="color:#E91E63" (click)="UserProfileEdit(element)">edit
                                        </mat-icon>
                                    </a>
                                    <a class="m-l-10">
                                        <mat-icon style="color:#E91E63" (click)="UserAllDetail(element)"><i style="color: cornflowerblue;" class="fa fa-info-circle"></i>
                                        </mat-icon>
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 20,30,50,100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>

        </mat-card-content>
    </mat-card >
