<mat-card fxFlex.gt-sm="100%" fxFlex="100" class="m-0">
    <mat-card-content >
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <div fxLayout="row wrap">
                    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                        <mat-form-field>
                            <input matInput (keyup)="common.TableFilter(userlistarray,$event.target.value)"
                                placeholder="Search">
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <div style="overflow: hidden;overflow-x: auto;">
                        <table mat-table matSort [dataSource]="userlistarray" class="tablewidth">
                            <ng-container matColumnDef="fstname" >
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > First Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.fname}} </td>
                            </ng-container>
                            <ng-container matColumnDef="lstname">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header > Last Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.lname}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Uemail">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Usrusername">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Umobile">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mob. Number </th>
                                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                            </ng-container>                            
                            <ng-container matColumnDef="UlastLogin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Login </th>
                                <td mat-cell *matCellDef="let element"> {{element.tblUserAditionalDetails ? (element.tblUserAditionalDetails.lastLogin | date:"MM/dd/yyyy HH:mma") : null}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Usrupdatedate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Modified</th>
                                <td mat-cell *matCellDef="let element"> {{element.tblUserAditionalDetails ? (element.tblUserAditionalDetails.updatedate | date:"MM/dd/yyyy HH:mma") : null }} </td>
                            </ng-container>
                            <ng-container matColumnDef="Ustatus">
                                <th mat-header-cell *matHeaderCellDef>Status</th>
                                <!-- <td mat-cell *matCellDef="let element"> {{element.accountStatus?'Active':'DeActive'}} </td> -->
                                <td> <mat-slide-toggle *matCellDef="let element" [(ngModel)]="element.accountStatus" (click)="UpdateUserStatus(element)"></mat-slide-toggle></td>
                            </ng-container>

                            <!-- <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                <td> <mat-slide-toggle *matCellDef="let element" [(ngModel)]="element.reminderStatus" (click)="UpdatereminderrStatus(element)"></mat-slide-toggle></td>
                
                            </ng-container> -->

                            <!-- <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action </th>
                                <td mat-cell *matCellDef="let element" class="action-link">
                                    <a>
                                        <mat-icon style="color:#E91E63" (click)="UserProfileEdit(element)">edit
                                        </mat-icon>
                                    </a>
                                    <a class="m-l-10">
                                        <mat-icon style="color:#E91E63" (click)="UserAllDetail(element)"><i style="color: cornflowerblue;" class="fa fa-info-circle"></i>
                                        </mat-icon>
                                    </a>
                                </td>
                            </ng-container> -->
                            <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                        </table>
                        </div>
                        <mat-paginator [pageSizeOptions]="[10, 20,30,50,100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>

        </mat-card-content>
    </mat-card >
