<mat-card>
    <mat-card-content>
        <form [formGroup]="subscrimasterform" (ngSubmit)="onSubmit()">
            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                    <div fxFlex.gt-sm="25" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <input matInput placeholder="Subscription Name" formControlName="SubscriptionName"
                                type="text" required>
                        </mat-form-field>
                        <p class="text-danger m-t-0 font-16"
                            *ngIf="subscriForm.SubscriptionName.touched && subscriForm.SubscriptionName.errors?.pattern">
                            Subscription Name contains only characters.</p>
                    </div>
                    <div fxFlex.gt-sm="75" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <input matInput placeholder="Description" formControlName="Description" type="textarea"
                                required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap" fxFlexAlign="center" class="row">
                <div fxFlex.gt-sm="80" fxFlex.gt-xs="100" fxFlex="100">
                    <div fxFlex.gt-sm="33" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <input matInput placeholder="Fee Amount" formControlName="FeeAmount" type="number"
                                required>
                        </mat-form-field>
                    </div>
                    <div fxFlex.gt-sm="33" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <input matInput placeholder="Validity (in Months)" type="number"
                                formControlName="validitymonths" required>
                        </mat-form-field>
                        <p class="text-danger m-t-0 font-16"
                            *ngIf="subscriForm.validitymonths.touched && (subscriForm.validitymonths.errors?.maxLength || subscriForm.validitymonths.errors?.min || subscriForm.validitymonths.errors?.max)">
                            Months contains only 2 digits (01-99).</p>
                    </div>
                    <div fxFlex.gt-sm="33" fxFlex="100" class="p-10">
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="Status" placeholder="Select Status" required>
                                <mat-option value="1">Active </mat-option>
                                <mat-option value="0">DeActive </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex.gt-sm="20" fxFlex.gt-xs="100" fxFlex="100" class="text-center m-t-30">
                    <button class="m-r-20" *ngIf="updateid == 0" mat-raised-button color="primary" (click)="CreateSubscription()" [disabled]="!subscrimasterform.valid">Save</button>
                    <button class="m-r-20" *ngIf="updateid > 0" mat-raised-button color="primary" (click)="UpdateSubscription()" [disabled]="!subscrimasterform.valid">Update</button>
                    <button mat-raised-button color="default" (click)="resetSubscriptionform()">Clear</button>
                </div>
            </div>
        </form>

        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                    <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
                </mat-form-field>
            </div>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <table mat-table matSort [dataSource]="lists.sublist">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Subscription Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.subscription_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="desc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="month">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Period </th>
                        <td mat-cell *matCellDef="let element"> {{element.validity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let element"> {{element.status?'Active':'DeActive'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <a>
                                <mat-icon style="color:black" (click)="EditSubscriptionMaster(element)"><i
                                        class="fa fa-pencil"></i>
                                </mat-icon>
                            </a>
                            <mat-icon class="m-l-10" style="color:#E91E63" (click)="DeleteConfirmation(element)"><i
                                    class="fa fa-trash"></i>
                            </mat-icon>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="lists.displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: lists.displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20,25,50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </mat-card-content>
</mat-card>