<mat-card>
    <mat-card-content>
        <mat-slide-toggle (toggleChange)="ChangeApiStatus($event)" [(ngModel)]="lists.changesetting" [checked]="lists.settingvalue"
            >Switch API Mode</mat-slide-toggle>
            <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">          

                
            </div>
        <!-- <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">            

            <a href="javascript:void">
                <mat-card class="bg-warning text-white text-center">
                    <div class="p-10">
                        <h2 class="m-0"><i class="fa fa-inr" aria-hidden="true"> </i>
                        </h2>
                        <small>Total No. of Hits</small>
                    </div>
                </mat-card>
            </a>
        </div> -->
        <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">          

                
        </div>
        
    </mat-card-content>
</mat-card>